---
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'
import { format } from 'date-fns'

interface Props {
  post: CollectionEntry<'posts'>
}
const { post } = Astro.props
const { remarkPluginFrontmatter } = await render(post)
const description = remarkPluginFrontmatter.description || post.data.description
const words = remarkPluginFrontmatter.words ?? 0
const sizeKb = Math.max(1, Math.round((words * 6) / 102.4) / 10)
const sizeStr = `${sizeKb.toFixed(1)}K`.padStart(6, ' ')
const date = post.data.date ? format(post.data.date, 'MMM dd') : '      '
const link = `/posts/${post.id}`
---

<a href={link} class="block font-mono text-sm py-2 hover:bg-accent/10 -mx-2 px-2 no-underline">
  <span class="text-foreground/50">-rw-r--r--</span>
  <span class="text-foreground/40 mx-2">1 jcalado users</span>
  <span class="text-yellow">{sizeStr}</span>
  <span class="text-foreground/60 mx-2">{date}</span>
  <span class="text-link font-semibold">{post.id}.md</span>
  {description && (
    <div class="text-foreground/70 mt-1 ml-[14ch] text-xs">{description}</div>
  )}
</a>
